.--object-label{
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
    width: 100%;
    text-align: left;
}
.--object-label > .---caption {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    text-align: left;
}

.--object-label>input{
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 0.25rem;
    border: 0.0625rem solid #e0e0e0;
    padding: 0.5rem 0.5rem;
}
