.--object-button{
    width: 7rem;
    height: 2rem;
    padding: 0 0.75rem;

    align-items: center;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.--button-purple{
    background-color: #6C5CE7;
    color: #ffffff;
}
.--button-purple:hover{
    background-color: #5549b4;
    transition-duration: 175ms;
    transition-property: background-color;
    transition-timing-function: ease;
}
.--button-purple:active{
    background-color: #342D6EFF;
    transition-duration: 175ms;
    transition-property: background-color;
    transition-timing-function: ease;
}
.-button-red {
    background-color: #e74c3c;
    color: #f2f4f8;
}

.-button-red:hover{
    background-color: #d84333;
}

.-button-red:active{
    background-color: #c53b2c;
}
.--button-gray{
    background-color: #636569;
    color: #ffffff;

}
.--button-gray:hover{
    background-color: #3f454d;
    transition-duration: 175ms;
    transition-property: background-color;
    transition-timing-function: ease;
}
.--button-gray:active{
    background-color: #2a2d34;
    transition-duration: 175ms;
    transition-property: background-color;
    transition-timing-function: ease;
}