@charset "UTF-8";
.--dialog{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232527a0;
    backdrop-filter: blur(0.5rem);
    z-index: 8;
    position: fixed;
    pointer-events: none;
    transition-duration: 175ms;
    transition-property: opacity,backdrop-filter;
    transition-timing-function: ease;
    opacity: 0;
}
.--dialog>.--modal{
    width: 22.5rem;
    aspect-ratio: 5/4;
    background-color: #f2f4f8;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.--dialog.-visible{
    opacity: 1;
    pointer-events: auto;
}
.--dialog>.--modal>.--title{
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.--dialog>.--modal>.--content{
    padding: 0.5rem 0.5rem;
    background-color: #f2f4f8;
    margin: 0 auto;
    width: 15rem;
    height: 5rem;
white-space: nowrap;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.--dialog>.--modal >.--button-container{
    width: 20rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}