body {
    background-color: #FDF2D4;
}

#defaultContainer > #loginForm > .calendar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#defaultContainer > #loginForm > .calendar-wrapper > .leftBox {
    width: 25%;
    height: 100%;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    background-color: darkcyan;
    padding: 1rem;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox {
    width: 75%;
    height: 100%;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    background-color: #e0e0e0;
    padding: 1rem;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .header > .title {
    font-size: 1.75rem;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .header > button {
    background-color: #6C5CE7;
    color: #ffffff;
    cursor: pointer;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    color: #444;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: right;
    margin-top: 0.5rem;
}

#defaultContainer > #loginForm > .calendar-wrapper > .rightBox > .dates > .day {
    border: 0.2rem solid #e0e0e0;
    height: 6rem;
    padding: 0.35rem;
    position: relative;
    background: #fff;
}