#defaultContainer > #annualForm > .list-table {
    padding-right: 1rem;
    height: 70vh;
    max-width: 70vw;
    width: 100%;
    overflow: hidden scroll;
}

#defaultContainer > #annualForm > .list-table > .table {
    font-size: 0.85rem;
    border-collapse: collapse;
}

#defaultContainer > #annualForm > .list-table > .table > caption {
    font-size: 2rem;
    font-weight: 500;
}
#defaultContainer > #annualForm > .list-table > .table > tbody > tr > .content {
    white-space: normal;
}
#defaultContainer > #annualForm > .list-table > .table > tbody > tr > th,
#defaultContainer > #annualForm > .list-table > .table > thead > tr > th{
    white-space: nowrap;
    border-bottom: 0.0625rem solid #63656990;
    padding: 1rem;
}
#defaultContainer > #annualForm > .list-table > .table > tbody > tr>  td,
#defaultContainer > #annualForm > .list-table > .table > thead > tr>  td{
    border-bottom: 0.0625rem solid #63656990;
    padding: 1rem;
    text-align: center;
    white-space: nowrap;
}
#defaultContainer > #annualForm > .list-table > .table > tbody > tr > td > .button {
    width: 4rem;
    height: 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
