#defaultContainer{
    width: 30rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#changePasswordForm{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#changePasswordForm > label > .---row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.-disabled{
    background-color: #adafb6;
    color: #ffffff;
}
.--warning{
    font-size: 0.8rem;
    height: 0.8rem;
    color: red;
}
button[name="changeButton"]{
    opacity: 0;
    pointer-events: none;
}
button[name="changeButton"].-visible{
    opacity: 1;
    transition: opacity 175ms ease;
    pointer-events: auto;
}