
body {
    /*font-family:"Gothic A1";*/
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#defaultContainer {
    width: 25rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#findIdForm {
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#findIdForm > label > .---row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}