
#defaultContainer {
    width: 25rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#findIdForm {
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#findIdForm > label > .---row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.--warning {
    font-size: 0.8rem;
    color: red;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    height: 0.8rem;
}

/* 경고 메시지 보임 상태 */
.--warning.-visible {
    opacity: 1;
}