#defaultContainer{
    width: 37.5rem;
    height: 37.5rem;
}
#defaultContainer.--object-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#registerForm{
    width: 32.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}
#registerForm>.title{
    font-weight: 800;
    color: #6C5CE7;
}
#registerForm>.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
#registerPost{
    /*width: 70%;*/
}
#registerPost>label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
}
#registerPost>label>input{
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
}
.button-container{
    margin-bottom: 0.5rem;
}
.table{
    width: 100%;
    height: 100%;
    border-spacing: 0.5rem;
}
.table>tbody>tr>td>.row{
    position: relative;
}
.table>tbody>tr:nth-child(3)>td>.row{
    margin-bottom: 1rem;
}
.table>tbody>tr>td>.row>.warning{
    position: absolute;
    color: red;
    opacity: 0;
    pointer-events: none;
    padding:0.062rem 0.062rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    z-index: 2;
    margin-top: 0.25rem;
    transition-property: opacity;
    transition-duration: 175ms;
    transition-timing-function: ease;
}
.table>tbody>tr>td>.row>.warning.-visible{
    opacity: 1;
    z-index: 1;
}

a[href]{
    color: #ffffff;
}
.--object-label>.--caption{
    width: 100%;
    font-weight: 800;
    font-size: 0.8rem;
    text-align: left;
    margin-left: 9.85rem;;
}
