<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 - SUB</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/admin/assets/styles/admin.css">
</head>
<body>
<form id="loginForm">
    <div class="calendar-wrapper">
        <div class="leftBox">
            <div class="sidebar">
                <span>반가워요, ? ? ?님 잘 생기셨네요</span>
                <br>
                <span>2025. 05. 08</span>
            </div>
            <div>
                <label>
                    <input checked type="checkbox">전체 일정
                </label>
            </div>
            <div>
                <label>
                    <input checked type="checkbox">연차
                </label>
            </div>
            <button type="button">일정 등록하기</button>
        </div>
        <div class="rightBox">
            <div class="header">
                <button>버튼 1</button>
                <h2 class="title">타이틀</h2>
                <button>버튼 2</button>
            </div>
            <div class="days">
                <div>SUN</div>
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
            </div>
            <div class="dates">
                <div class="day">
                    <span class="date">1</span>
                </div>
                <div class="day">
                    <span class="date">2</span>
                </div>
                <div class="day">
                    <span class="date">3</span>
                </div>
                <div class="day">
                    <span class="date">4</span>
                </div>
                <div class="day">
                    <span class="date">5</span>
                </div>
                <div class="day">
                    <span class="date">6</span>
                </div>
                <div class="day">
                    <span class="date">7</span>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>