<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>계정찾기</title>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/user/assets/styles/find-info.css" type="text/css">
    <script src="/assets/scripts/common.js" type="text/javascript"></script>
    <script defer src="/user/assets/scripts/find-info.js" type="text/javascript"></script>
</head>
<body>
    <div id="defaultContainer">
        <div class="container">
            <h2 class="--title">계정을 잊어버리셨나요?</h2>
            <div class="button-container">
                <a href="/user/find/find-id" class="--object-button --button-purple">아이디 찾기</a>
                <a href="/user/find/change-password" class="--object-button --button-purple">비밀번호 변경</a>
            </div>
        </div>
    </div>
</body>
</html>