<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.teamproject.mappers.UserMapper" >
    <insert id="insertUser">
        INSERT INTO `leave`.`users`(`email`, `password`, `name`, `role`, `created_at`)
        VALUES (#{email}, #{password}, #{name}, #{role}, #{createdAt})
        WHERE `leave`.`users` u
    </insert>
<!--    <select id="selectCountByEmail" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FORM `leave`.`users`
        WHERE `name` = #{name}
    </select>
    <select id="selectCountByName" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `leave`.`users`
        WHERE `name` = #{name}
    </select>-->
</mapper>