<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhj.teamproject.admin.mappers.AdminMapper">
    <update id="updateRequests">
        update `leave`.`leave_requests`
        set status = #{status},
            reviewed_by = #{user.id},
            reviewed_at = now()
        where `id` = #{id}
    </update>

    <select id="AllRequests" resultType="com.jhj.teamproject.admin.entities.RequestsEntity">
        select lr.id          as `id`,
               lr.user_id     as `userId`,
               lr.start_date  as `startDate`,
               lr.end_date    as `endDate`,
               lr.days        as `days`,
               lr.content     as `content`,
               lr.status      as `status`,
               lr.reviewed_by as `reviewedBy`,
               lr.reviewed_at as `reviewedAt`,
               lr.created_at  as `createdAt`,
               lr.category as `category`,
               u.name         as `name`,
               u2.name        as `reviewedByName`
        from `leave`.`leave_requests` lr
                 join `leave`.`users` u on u.id = lr.`user_id`
                 left join `leave`.`users` u2 on lr.`reviewed_by` = u2.`id`
        order by lr.created_at ${sort}
    </select>

    <select id="selectByEmail" resultType="com.jhj.teamproject.user.entities.UserEntity">
        select `id`                as `id`,
               `email`             as `email`,
               `password`          as `password`,
               `name`              as `name`,
               `is_admin`          as `isAdmin`,
               `is_deleted`        as `isDeleted`,
               `created_at`        as `createdAt`,
               `modified_at`       as `modifiedAt`,
               `contact_mvno_code` as `contactMvno`,
               `contact_first`     as `contactFirst`,
               `contact_second`    as `contactSecond`,
               `contact_third`     as `contactThird`,
               `address_postal`    as `addressPostal`,
               `address_primary`   as `addressPrimary`,
               `address_secondary` as `addressSecondary`
        from `leave`.`users`
        where `email` = #{email}
        limit 1;
    </select>

    <select id="selectRequestById" resultType="com.jhj.teamproject.admin.entities.RequestsEntity">
        SELECT `id` as `id`,
               `user_id` as `userId`,
               `start_date` as `startDate`,
               `end_date` as `endDate`,
               `days` as Days,
               `content` as `content`,
               `status` as `status`,
               `reviewed_by` as `reviewedBy`,
               `reviewed_at` as `reviewedAt`,
               `created_at` as `createdAt`,
               `category` as `category`
        FROM leave.leave_requests
        WHERE id = #{id}
    </select>

    <update id="incrementUsedDays">
        UPDATE leave.annual_leaves
        SET total_days = total_days - #{days},
            used_days =  #{days}
        WHERE user_id = #{userId}
        limit 1
    </update>
</mapper>