<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 - SUB</title>
    <link rel="stylesheet" href="/assets/common.css">
    <link rel="stylesheet" href="/user/assets/styles/login.css">

</head>
<body>
<div id="defaultContainer">
    <form id="loginForm">
        <div class="title-container">
            <h1 class="title">LOGIN</h1>
            <img class="image" src="/user/assets/images/login-canlendar.png" alt="">
        </div>
        <label class="--object-label">
            <span class="---caption">이메일</span>
            <input required autocomplete="email" autofocus maxlength="20" minlength="5" type="email" name="email"
                   spellcheck="false">
        </label>
        <label class="--object-label">
            <span class="---caption">비밀번호</span>
            <input required autocomplete="off" autofocus maxlength="50" minlength="5" type="password" name="password"
                   spellcheck="false">
        </label>
        <button class="--object-button -button-purple" type="submit">
            <span class="---caption">로그인</span>
        </button>
        <ul class="menu">
            <li class="item">
                <a href="/user/register">회원가입</a>
            </li>
            <li class="item">
                <a href="/user/register">계정 찾기</a>
            </li>
        </ul>
    </form>
</div>

</body>
</html>
