<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 - SUB</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/user/assets/styles/register.css">
    <script src="/assets/scripts/common.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="/user/assets/scripts/register.js"></script>
</head>
<body>
<div class="--dialog"></div>
<div id="addressFindDialog">
    <div class="modal">
    </div>
</div>
<div id="defaultContainer">
    <form novalidate id="registerForm">
        <h1 class="title">회원가입</h1>
        <input type="hidden" name="admin" value="false">
        <div class="container info -visible">
            <label class="--object-label">
                <span class="---caption">이름</span>
                <input id="registerName" required autocomplete="off" class="--object-field ---field"
                       maxlength="50" minlength="8" name="name" spellcheck="false" type="text" placeholder="이름">
                <span class="--warning"></span>
            </label>

            <label class="--object-label">
                <span class="---caption">이메일</span>
                <input id="registerEmail" required autocomplete="off" class="--object-field ---field"
                       maxlength="50" minlength="8" name="email" spellcheck="false" type="text" placeholder="use@sample.com">
                <span class="--warning"></span>
            </label>
            <label class="--object-label">
                <span class="---caption">비밀번호</span>
                <input id="registerPassword" required autocomplete="off" class="--object-field ---field"
                       maxlength="100" minlength="8" name="password" spellcheck="false" type="password" placeholder="문자,숫자,특수문자를 포함 8자리 이상이 필요합니다.">
                <input required autocomplete="off" class="--object-field ---field"
                       maxlength="100" minlength="8" name="passwordCheck" spellcheck="false" type="password"
                       placeholder="비밀번호 재입력">
                <span class="--warning"></span>
            </label>

            <label class="--object-label">
                <span class="---caption">입사일</span>
                <input id="registerCreated" required autocomplete="off" class="--object-field ---field"
                       maxlength="50" minlength="8" name="createdAt" type="date">
                <span class="--warning"></span>
            </label>

            <label class="--object-label">
                <span class="---caption">연락처</span>
                <span class="---row">
                    <select required class="--object-field ---field" name="contactMvno">
                      <option disabled hidden selected value="-1">통신사</option>
                      <option value="SKT">SKT</option>
                      <option value="KT">KT</option>
                      <option value="LGU">LGU+</option>
                      <option value="ETC">알뜰폰</option>
                    </select>
                    <select required class="--object-field ---field" name="contactFirst">
                      <option selected value="010">010</option>
                    </select>-
                    <input required class="--object-field ---field" maxlength="4" minlength="3"
                           name="contactSecond" placeholder="0000" type="text">-
                    <input required class="--object-field ---field" maxlength="4" minlength="4"
                           name="contactThird" placeholder="0000" type="text">
                </span>
                <span class="--warning"></span>
            </label>
            <label class="--object-label">
                <span class="---caption">주소</span>
                <span class="---row">
                    <input required class="--object-field ---field -flex-stretch" maxlength="5" minlength="5"
                           name="addressPostal" placeholder="우편번호">
                    <button class="--object-button --button-purple" name="addressFindButton"
                            type="button">주소 찾기</button>
                </span>
                <input readonly required class="--object-field ---field" maxlength="100" minlength="10"
                       name="addressPrimary" placeholder="기본 주소" type="text">
                <input class="--object-field ---field" maxlength="100" minlength="0"
                       name="addressSecondary" placeholder="상세 주소" type="text">
                <span class="--warning"></span>
            </label>
        </div>
        <div class="button-container">
            <a href="/user/login" class="--object-button --button-gray">
                <span class="---caption">취소</span>
            </a>
            <div class="-flex-stretch" role="none"></div>
            <button class="--object-button --button-purple" name="submit" type="submit">
                <span class="---caption">회원가입</span>
            </button>
        </div>

    </form>
</div>
</body>
</html>
