<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.teamproject.user.mappers.UserMapper">
    <insert id="insertUser"></insert>
    <update id="update"></update>
    <select id="selectByEmail" resultType="com.jhj.teamproject.user.entities.UserEntity"></select>
    <select id="selectByNickname" resultType="com.jhj.teamproject.user.entities.UserEntity"></select>
    <select id="selectCountByEmail" resultType="java.lang.Integer">
        select `email`,`password`,``
    </select>
    <select id="selectCountByNickname" resultType="java.lang.Integer"></select>
</mapper>