<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.teamproject.user.mappers.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into `leave`.`users` (`email`,`password`,`name`,`created_at`,`modified_at`,`is_deleted`,`is_admin`,`contact_mvno_code`,`contact_first`,`contact_second`,`contact_third`,`address_postal`,`address_primary`,`address_secondary`)
        values(#{user.email},#{user.password},#{user.name},#{user.createdAt},#{user.modifiedAt},#{user.isDeleted},#{user.isAdmin},#{user.contactMvno},#{user.contactFirst},#{user.contactSecond},#{user.contactThird},#{user.addressPostal},#{user.addressPrimary},#{user.addressSecondary});
    </insert>


    <insert id="insertAnnual"
    useGeneratedKeys="true"
    keyColumn="id"
    keyProperty="id">
        insert into `leave`.`annual_leaves`
        (user_id, total_days, used_days)
        values (#{annual.userId},#{annual.totalDays},#{annual.usedDays});
    </insert>

    <update id="update">
        update `leave`.`users`
        set `email`=#{user.email},
            `password`=#{user.password},
            `name`=#{user.name},
            `is_deleted`=#{user.deleted},
            `created_at`=#{user.createdAt},
            `modified_at`=#{user.modifiedAt},
            `contact_mvno_code` =#{user.contactMvno},
            `contact_first`=#{user.contactFirst},
            `contact_second`=#{user.contactSecond},
            `contact_third`=#{user.contactThird},
            `address_postal` =#{user.addressPostal},
            `address_primary`=#{user.addressPrimary},
            `address_secondary`=#{user.addressSecondary}
        where `email` = ${user.email}
          and `name` = #{user.name}
        limit 1;
    </update>
    <update id="updatePassword">
        update `leave`.`users`
        set `password`=#{user.password},
            `modified_at`=#{user.modifiedAt}
        where `email` = #{user.email}
        limit 1;
    </update>

    <select id="selectByEmail" resultType="com.jhj.teamproject.user.entities.UserEntity">
        select `id`                as `id`,
               `email`             as `email`,
               `password`          as `password`,
               `name`              as `name`,
               `is_admin`          as `isAdmin`,
               `is_deleted`        as `isDeleted`,
               `created_at`        as `createdAt`,
               `modified_at`       as `modifiedAt`,
               `contact_mvno_code` as `contactMvno`,
               `contact_first`     as `contactFirst`,
               `contact_second`    as `contactSecond`,
               `contact_third`     as `contactThird`,
               `address_postal`    as `addressPostal`,
               `address_primary`   as `addressPrimary`,
               `address_secondary` as `addressSecondary`
        from `leave`.`users`
        where `email` = #{email}
        limit 1;
    </select>
    <select id="selectCountByEmail" resultType="java.lang.Integer">
        select count(0)
        from `leave`.`users`
        where `email` = #{email}
    </select>

    <select id="selectIdByEmail" resultType="java.lang.Integer">
        select `id`
        from `leave`.`users`
        where `email` = #{email}
        limit 1;
    </select>
    <select id="selectInfoByName" resultType="com.jhj.teamproject.user.entities.UserEntity">
        select `id`                as `id`,
               `email`             as `email`,
               `password`          as `password`,
               `name`              as `name`,
               `is_admin`          as `isAdmin`,
               `is_deleted`        as `isDeleted`,
               `created_at`        as `createdAt`,
               `modified_at`       as `modifiedAt`,
               `contact_mvno_code` as `contactMvno`,
               `contact_first`     as `contactFirst`,
               `contact_second`    as `contactSecond`,
               `contact_third`     as `contactThird`,
               `address_postal`    as `addressPostal`,
               `address_primary`   as `addressPrimary`,
               `address_secondary` as `addressSecondary`
        from `leave`.`users`
        where `name` = #{name}
        limit 1;
    </select>
</mapper>